[submodule "external/JSONKit"]
	path = external/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "external/iCarousel"]
	path = external/iCarousel
	url = https://github.com/nicklockwood/iCarousel.git
[submodule "frameworks/KIF"]
	path = frameworks/KIF
	url = https://github.com/square/KIF.git
[submodule "external/nu"]
	path = external/nu
	url = https://github.com/timburks/nu
